curl_cffi>=0.15.0
pyotp>=2.9.0
flask>=3.0.0
requests>=2.31.0
pycryptodome>=3.23.0
selenium>=4.20.0
httpx[http2,socks]>=0.27,<1
loguru>=0.7,<1
pproxy>=2.7,<3
qrcode[pil]>=7.4,<9

cryptography>=41
cloakbrowser[geoip]>=0.4.10
playwright>=1.49.0
python-dotenv>=1.0.0
